:root {
    --figma-width: 1512;
    --figma-height: 982;
    --left-bound: 26;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-left: calc(var(--left-bound) / var(--figma-width) * 100vw);
    font-family: "Red Hat Mono", monospace;
    color: black;
    background-color: #FFF7F2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.regular-text {
    font-size: clamp(11px, calc(12 / var(--figma-width) * 100vw), 27px);
    font-weight: 300;
}

.bold-regular-text {
    font-size: clamp(11px, calc(12 / var(--figma-width) * 100vw), 27px);
    font-weight: 500;
}

.spaced-text {
    display: block;
    margin-top: calc(10 / var(--figma-height) * 100vh);
}

#sitetitle {
    padding-top: calc(var(--left-bound) / var(--figma-height) * 100vh);
    font-family: "Red Hat Text", sans-serif;
    font-size: clamp(24px, calc(34 / var(--figma-width) * 100vw), 60px);
    font-weight: 700;
}

#sitetitle a{
    text-decoration: none;
    color: black;
}

#me-img {
    position: fixed;
    top: calc(112 / var(--figma-height) * 100vh);
}

#major {
    position: fixed;
    left: calc(381 / var(--figma-height) * 100vh);
    top: calc(112 / var(--figma-height) * 100vh);
    font-size: clamp(11px, calc(18 / var(--figma-width) * 100vw), 27px);
    font-weight: 500;
}

#university {
    font-size: clamp(9px, calc(16 / var(--figma-width) * 100vw), 25px)
}

#resume-link {
    position: fixed;
    top: calc(433 / var(--figma-height) * 100vh);
    font-style: italic;
}

#resume-link a{
    text-decoration: underline;
    color: black;
}

#about-me {
    position: fixed;
    width: calc(452 / var(--figma-width) * 100vw);
    top: calc(470 / var(--figma-height) * 100vh);
}

#temp {
    position: absolute;
    top: calc(500 / var(--figma-height) * 100vh);
    left: calc(2000 / var(--figma-width) * 100vh);
    font-weight: 300;
}

#footer {
    position: fixed;
    top: calc(931 / var(--figma-height) * 100vh);
}
