:root {
    --figma-width: 1512;
    --figma-height: 982;
    --left-bound: 26;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    color: black;
    background-color: #FFF7F2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#sitetitle {
    padding-left: calc(var(--left-bound) / var(--figma-width) * 100vw);
    padding-top: calc(var(--left-bound) / var(--figma-height) * 100vh);
    font-family: Roboto, sans-serif;
    font-size: clamp(24px, calc(40 / var(--figma-width) * 100vw), 60px);
    font-weight: 700;
}
